.app {
	background-color: #efefef;
	text-align: center;
}

.mr-150 {
	margin-right: 150px;
}

.spaceBetween {
	justify-content: space-between;
}

/* layout styles */
.layout {
	width: 100%;
	height: 100%;
}

.imgContainer {
	padding: 50px 0 100px 0;
}

.imgContainer:last-child {
	height: 100px;
}

.imgContainer img {
	display: block;
	width: 400px;
	margin: 0 auto;
}

.childrenWrapper {
	display: flex;
	padding: 0 150px;
}

@media only screen and (max-width: 400px) {
	.imgContainer img {
		width: 300px;
	}
}

@media only screen and (max-width: 300px) {
	.imgContainer img {
		width: 200px;
	}
}

/* poke card styles */
.pokeCard {
	background-color: #333;
	color: white;
	cursor: pointer;
	width: 200px;
	border-radius: 10px;
	box-shadow: 0 3px 15px rgba(0, 0, 0, 0.9);
	border-top: 1px solid #d6c887;
	border-bottom: 1px solid #d6c887;
	padding: 20px;
	height: 320px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

h2 {
	text-transform: capitalize;
}

/* poke details styles */
.pokeDetails {
	color: white;
	font-weight: bold;
	position: relative;
	margin-top: 50px;
}

.detailsContainer {
	width: 450px;
	background-color: #333;
	border-radius: 10px;
	padding: 50px;
	box-shadow: 0 3px 15px rgba(0, 0, 0, 0.9);
	border-top: 1px solid #d6c887;
	border-bottom: 1px solid #d6c887;
	position: sticky;
	top: 285px;
	font-size: 18px;
}

.detailsImgContainer {
	margin-bottom: 70px;
}

.detailsImgContainer img {
	width: 250px;
	height: 250px;
	position: absolute;
	top: -150px;
	right: 25%;
}

.statsContainer {
	text-align: left;
}

.statsContainer p {
	margin: 30px 0;
}

h2, h3 {
	text-align: center;
}

h3 {
	text-transform: capitalize;
}

.pokeType {
	padding: 5px 30px;
	margin-right: 30px;
	border-radius: 5px;
}

.pokeType:first-child {
	margin-left: 37px;
}

.ability {
	margin-right: 20px;
}

.ability:first-child {
	margin-left: 30px;
}

.stats {
	display: flex;
	justify-content: space-between;
}

.stats div {
	border-right: 1px solid #d6c887;
	text-align: center;
	padding-right: 40px;
}

.stats div:last-child {
	border-right: none;
	padding-right: 0;
}

.separator {
	border-color: #6EECB7;
	border-width: 10px;
	border-radius: 5px;
}

hr {
	margin-top: 1rem;
	margin-bottom: 1rem;
	border: 0;
	border-top: 1px solid rgba(0, 0, 0, .1);
	box-sizing: content-box;
	height: 0;
	overflow: visible;
}

.weight {
	margin-left: 16px;

}

.height {
	margin-left: 19px;
}

.emojy {
	font-size: 20px;
}

.heart {
	color: red;
}

.sword {
	color: silver;
}

.shield {
	color: cadetblue;
}

/* poke grid styles */
.pokeGrid {
	/*background-color: lime;*/
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	gap: 40px;
}

ul li img {
	width: 100px;
}

.center {
	justify-content: center;
}
